/* 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@700&display=swap'); 
*/
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Variables */
:root {
  /* Fonts */
  --fsg: 12vh; /* Time and Greetings */
  --fsm: 8vh; /* Date */
  --fss: 3vh; /* Greetings and Weather widger */
  --fses: 2vh; /* Links List */

  /* Light theme  */
  --accent: #61b0f1; /* Hover color */
  --bg: #f5f5f5; /* Background color */
  --sbg: #e4e6e6; /* Cards color */

  --fg: #3a3a3a; /* Foreground color */
  --sfg: #3a3a3a; /* Sceondary Foreground color */

  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ); /* Filter color */
}

/* Styles */
.darktheme {
  --accent: #61b0f1; /* Hover color */
  --bg: #1e1e2e; /* Background color */
  --sbg: #191928; /* Cards color */
  --fg: #d8dee9; /* Foreground color */
  --sfg: #3a3a3a; /* Secondary Foreground color */
  --imgcol: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.85)
  ); /* Filter color */
}

* {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

h1 {
  color: white;
  font-size: 7vh;
  padding: 10px;
}

p {
  color: white;
  font-size: 2.5vh;
  line-height: 3vh;
}

li {
  color: white;
  font-size: 2.5vh;
}

a {
  color: #61b0f1;
}

a:link {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 145vh;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0
}

.card {
  background-color: var(--sbg);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.buttonLink {
  grid-row: 2 / span 2;
  grid-column: 2 / span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 20px;
}

.buttonLink__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttonLink__icon {
  width: 3vh;
  height: 3vh;
  color: var(--fg);
}

.buttonLink__link-1 {
  grid-row: 1;
  grid-column: 1;
}
.buttonLink__link-2 {
  grid-row: 1;
  grid-column: 2;
}
.buttonLink__link-3 {
  grid-row: 2;
  grid-column: 1;
}
.buttonLink__link-4 {
  grid-row: 2;
  grid-column: 2;
}
.buttonLink__link-5 {
  grid-row: 1;
  grid-column: 3;
}
.buttonLink__link-6 {
  grid-row: 2;
  grid-column: 3;
}
.buttonLink__link:hover {
  background-color: var(--accent);
}
.buttonLink__link:hover svg {
  stroke: var(--sfg);
}

/* Console text */
#title {
  font-family: 'Cultive Mono', monospace;
  font-size: 10vh;
  color: var(--fg);
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#aboutMe {
  grid-row: 3 / span 1;
  grid-column: 4 / span 1;
  position: relative;
}

#other {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  position: relative;
}

.small-button {
  height: 15%;
  width: 20%;
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.hidden {
  opacity: 0;
}

.console-container {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  display: block;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

/* Media queries */
@media only screen and (max-width: 68.75em) {
  .container {
    grid-gap: 20px;
    padding: 40px;
  }

  .timeBlock {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
  }

  .weatherBlock {
    display: none;
  }

  #greetings {
    font-size: var(--fss);
  }

  #aboutMe {
    display: none;
  }

  #other {
    display: none;
  }

  .list {
    display: none;
  }

  .buttonLink {
    grid-column: 1 / span 4;
    grid-gap: 3vw;
    padding-left: 100px;
    padding-right: 100px;
  }
}
